.nav {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 500;
}

.strive {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.strive .card {
  width: 30%;
  height: 9rem;
  margin: 0 0.25rem 0.5rem;
}

.strive .card img {
  width: 100%;
  height: 5rem;
}

.strive .card p {
  font-size: 0.75rem;
  text-align: center;
  margin: 0.25rem;
}

.strive .card .strive-price {
  color: red;
}
