@import '../../../sass/index.scss';
.strive{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: r(40);
    .card{
        width:30%;
        height:r(180);
        margin:0 r(5) r(10);
        img{
            width:100%;
            height:r(100);
        }
        p{
            font-size: r(15);
            text-align: center;
            margin:r(5);
        }
        .strive-price {
            color:red;
        }
    }
}