@import '../../../sass//index.scss';
.add{
    margin-top: r(120);
    height: r(470);
    overflow: scroll;
    h3{
        margin-top: r(20);
        border: none;
        color: blue;
        text-align: center;
        }
    button{
        border:none;
        width:100vw;
        height: r(45);
        font-size: r(18);
        background-color: #108ee9; 
        position: fixed;
        bottom:0;
        left:0;
        z-index: 100;
        color:#fff;
    }
}