@import '../../../sass/index.scss';
.del{
    margin-bottom: r(60);
    margin-top: r(120);
    height: r(470);
    overflow: scroll;
    h3{
        padding-left: r(20);
        margin-top: r(20);
        border: none;
        color: blue;
        text-align: center;
        }
    h4{
        margin-top: r(20);
        border: none;
        text-align: center;
    }
    .card{
        width:r(300);
        height:r(180);
        padding:r(20);
        padding-bottom: r(4.5);
        align-items: center;
        background-color: rgba(16, 142,233,0.5);;
        margin:1rem auto;
        position: relative;
        .circle{
            position: absolute;
            right:r(4.5);
            top:r(7);
        }
        .img-name-price{
            display:flex;
            height:r(100);
            justify-content: space-evenly;
            .img{
                width:r(100);
                height:r(100);
            }
            p{
                margin:0;
            }
            .name-price{
                width:50%;
                height:r(100);
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                .bookname,.price{
                    color: #fff;
                    text-align: center;
                    font-size: r(20);
                    line-height: r(30);                    
                    font-weight: bold;
                }
                .price{
                    font-size: r(30);
                    color:red;
                    font-style: italic;
                }
               
            }  
        }
        .intro{
            background-color: #fff;
            width:r(300);
            height:r(60);
            text-align: center;
            overflow-x:hidden;
            overflow-y: scroll;
            word-wrap: break-word;
            word-break: break-all;
            box-shadow: 0 0 r(2) rgba(16, 142,233,0.5);
        } 
    }
    button{
        position: fixed;
        bottom: 0;
        border:none;
        width:100vw;
        height: r(45);
        font-size: r(18);
        left:50%;
        transform: translateX(-50%);
        background-color: #108ee9; 
        z-index: 200;
        color:#fff;
    }
}