@import '../../../sass/index.scss';
.modify-pass {
        margin-top:r(45);
        height:100vh;
        .input {
            height: r(40);
            input {
                padding-left: r(20);
                width: r(240);
                height: r(24);
                outline: none;
            }
        }
        button {
            width: 100%;
            height: r(45);
            font-size: r(18);
            border: none;
            background-color: #108ee9;
            color:#fff;
            margin-top: r(30);
        }
    }
   