.nav {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 500;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 1rem 0 2rem 0;
}

.search-result .card {
  width: 30%;
  height: 9rem;
  margin: 0 0.25rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-result .card img {
  width: 100%;
  height: 5rem;
}

.search-result .card p {
  font-size: 0.75rem;
  text-align: center;
  margin: 0.25rem;
}

.search-result .card .novel-price {
  color: red;
}

.search-result .empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #666;
}

.search-result .find-res {
  width: 5rem;
  height: 8rem;
  padding: 1rem;
  padding-bottom: 0.25rem;
  align-items: center;
  background-color: bisque;
  margin: 1rem auto;
}

.search-result .find-res .img-name-price {
  display: flex;
}

.search-result .find-res .img-name-price .img {
  width: 3rem;
  height: 3rem;
}

.search-result .find-res .img-name-price p {
  margin: 0;
}

.search-result .find-res .img-name-price .name-price {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-result .find-res .img-name-price .name-price .bookname, .search-result .find-res .img-name-price .name-price .price {
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.search-result .find-res .img-name-price .name-price .price {
  color: red;
  font-style: italic;
}

.search-result .find-res .intro {
  background-color: #fff;
  height: 3rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  word-break: break-all;
}
