.nav {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 500;
}

.login {
  width: 100vw;
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 150vw 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login p {
  color: blue;
  position: relative;
  top: -3rem;
  font-size: 1.25rem;
}

.login .input {
  height: 2rem;
}

.login .input input {
  padding-left: 1rem;
  width: 12rem;
  height: 1.2rem;
  outline: none;
}

.login button {
  width: 13.2rem;
  height: 2.25rem;
  font-size: 0.9rem;
  border: none;
  background-color: #108ee9;
  margin-top: 1.5rem;
  color: #fff;
}
