body {
  margin: 0;
  background-color: #fff !important;
}

.nav {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 500;
}

.find {
  margin-bottom: 2rem;
  margin-top: 6rem;
  height: 23.5rem;
  overflow: scroll;
}

.find h3 {
  padding-left: 1rem;
  margin-top: 1rem;
  border: none;
  color: blue;
  text-align: center;
}

.find h4 {
  padding-left: 1rem;
  margin-top: 1rem;
  border: none;
  text-align: center;
}

.find .find-res {
  width: 15rem;
  height: 9rem;
  padding: 1rem;
  padding-bottom: 0.25rem;
  align-items: center;
  background-color: rgba(16, 142, 233, 0.5);
  margin: 1rem auto;
}

.find .find-res .img-name-price {
  display: flex;
  height: 5rem;
}

.find .find-res .img-name-price .img {
  width: 5rem;
  height: 5rem;
}

.find .find-res .img-name-price p {
  margin: 0;
}

.find .find-res .img-name-price .name-price {
  width: 50%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.find .find-res .img-name-price .name-price .bookname, .find .find-res .img-name-price .name-price .price {
  text-align: center;
  height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.find .find-res .img-name-price .name-price .price {
  font-size: 1.5rem;
  color: red;
  font-style: italic;
}

.find .find-res .intro {
  background-color: #fff;
  width: 15rem;
  height: 3rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  word-break: break-all;
  box-shadow: 0 0 0.1rem rgba(16, 142, 233, 0.5);
}

.find button {
  z-index: 200;
  position: fixed;
  bottom: 0;
  border: none;
  width: 100vw;
  height: 2.25rem;
  font-size: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #108ee9;
  color: #fff;
}
